/** Внешние библиотеки*/
@import "~normalize.css/normalize.css";
/** ebnvioment */
@import "vars";
@import "common";
/** component styles */
@import "topButton";
@import "title";
@import "mainImage";
@import "preimushestva";
@import "form";
@import "popularQuestions";
@import "footer";

.text-1 {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;

  @media screen and (min-width: 1500px) {
    font-size: 20px;
    line-height: 36px;
    padding-right: 60px;
    margin-bottom: 0;
  }
}

.subscribe {
  @media screen and (min-width: 1500px) {
    display: none;
  }
}

aside {
  margin-bottom: 30px;
}

.main-wrapper {
  margin-top: 20px;

  @media screen and (min-width: 1500px) {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    main {
      width: 870px;
    }
    aside {
      width: 466px;
    }
  }

}